.aboutInfo {
    z-index: -100;
    position: fixed;
    text-decoration: underline;
    font-size: 1em;
    left: 12em;
    .ourTeams { 
        top: 14.6em;
        padding: 1em;
    }
}
.aboutCenter {
    display: flex;
    justify-content: center;
}
.titleOurTeams {
    top: 2em;
    font-size: 4vw;
    position: absolute;
}
.titleFTC {
    top: -8em;
    font-size: 4vw;
    position: absolute;
}
.titleFRC {
    top: -14em;
    font-size: 4vw;
    position: absolute;
    left: 45%;
}
.parallaxDecals {
    max-height: 8em;
    opacity: .5;
    position: absolute;
}
.ftcDescription {
    top: -14em;
    position: absolute;
    font-size: 18px;
    max-width: 40%;
}
.frcDescription {
    top: -34em;
    position: absolute;
    font-size: 18px;
    max-width: 40%;
}
.decalPos1 {
    transform: translateY(6em) translateX(-36em);
}
.decalPos2 {
    transform: translateY(4em) translateX(-12em);
}
.decalPos3 {
    transform: translateY(44em) translateX(16em);
}
.decalPos4 {
    transform: translateY(24em) translateX(-6em);
}
.decalPos5 {
    transform: translateY(36em) translateX(-24em);
}
.decalPos6 {
    transform: translateY(-10em);
}
.decalPos7 {
    transform: translateY(12em) translateX(-46em);
}
.grid1x3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    width: 80%;
    margin: auto;
}
.column {
    position: relative;
    margin: 4rem auto auto;
    width: 80%;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.container {
    position: relative;
    padding: 0 1rem;
    margin: auto;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.divider {
    display: flex;
    position: relative;
    background-color: #080808;
    align-items: center;
    width: 100%;
    height: 12rem;
    margin: 0 0;
}
.linebreak {
    position: relative;
    width: 90%;
    height: 2px;
    background: white;
    margin: 2rem 0;
    margin-left: auto;
    margin-right: auto;
}
.linebreak::before {
    content: "";
    background-color: #ff0000;
    width: 100%;
    z-index: -1;
    position: absolute;
    height: 100%;
    top: -5px;
    left: -6px;
}
.linebreak::after {
    content: "";
    background-color: #4df4e4;
    width: 100%;
    z-index: -1;
    position: absolute;
    height: 100%;
    top: 5px;
    left: 6px;
}

.hero {font-size: 1.5rem; filter: drop-shadow(0 1px 1px);}
.layers {position: relative;}
.layers::before, .layers::after {content: attr(data-text); position: absolute; width: 110%; z-index: -1;}
.layers::before {top: 10px; left: 15px; color: #ff0000;}
.layers::after {top: 5px; left: -10px; color: #4df4e4;}

.movement {position: relative; animation: movement 8s step-end infinite;}
    @keyframes movement {0% {top: 0px; left: -10px;} 15% {top: 5px; left: 5px;} 60% {top: 2.5px; left: -5px;} 75% {top: -2.5px; left: 10px;} 100% {top: 5px; left: 2.5px;}}
.opacity {animation: opacity 5s step-end infinite;}
    @keyframes opacity {0% {opacity: 0.1;} 5% {opacity: 0.7;} 30% {opacity: 0.4;} 45% {opacity: 0.6;} 76% {opacity: 0.4;} 90% {opacity: 0.8;} 1%, 7%, 33%, 47%, 78%, 93% {opacity: 0;}}
.font {animation: font 7s step-end infinite;}
    @keyframes font {0% {font-weight: 100; color: #ff0000; filter: blur(2px);} 20% {font-weight: 500; color: #fff; filter: blur(0);} 50% {font-weight: 300; color: #4df4e4; filter: blur(1px);} 60% {font-weight: 700; color: #fff; filter: blur(0);} 90% {font-weight: 500; color: #ff0000; filter: blur(3px);}}
/* Slide Button */
.slide {
    height: 3vw;
    width: 12vw;
    color: white;
    font-family: Raleway;
    font-size: 1vw;
    font-weight: 200;
    letter-spacing: 1px;
    padding: 13px 30px 13px;
    outline: 0;
    border: 2px solid white;
    cursor: pointer;
    position: relative;
    background-color: rgba(0, 0, 0, 0);
  }
  
  .slide i {
    opacity: 0;
    font-size: 13px;
    transition: 0.2s;
    position: absolute;
    right: 10px;
    top: 21px;
    transition: transform 1;
  }
  
  .slide div {
    transition: transform 0.8s;
  }
  
  .slide:hover div {
    transform: translateX(-6px);
  }
  .slide::before {
    content: "";
    border: 1px solid #ff0000;
    width: 100%;
    z-index: -1;
    position: absolute;
    height: 100%;
    top: -7px;
    left: -7px;
  }
  .slide::after {
    content: "";
    border: 1px solid #4df4e4;
    width: 100%;
    z-index: -1;
    position: absolute;
    height: 100%;
    top: 7px;
    left: 7px;
  }
  
  .slide:hover i {
    opacity: 1;
    transform: translateX(-6px);
  }
.item a {
    text-decoration: none;
    color: white;
    position: relative;
}
.item a::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 3px;
    top: 96%;
    left: 0;
    background: #ff0000;
    transition: transform 0.4s;
    transform: scaleX(0);
    transform-origin: bottom;
}
.item a:hover::after {
    background: #4df4e4;
    transform: scaleX(1);
    transform-origin: bottom;
}
.video {
    display: block;
    position: relative;
    overflow: hidden;
    margin: 6rem 0 0 0;
}
.video video {
    display: block;
    position: relative;
    opacity: 0.4;
    z-index: -999;
    left: 50%;
    transform: translateX(-50%);
}
.video .overlay {
    position: absolute;
    width: 70%;
    margin: auto;
    top: 40%;
    left: 15%;
    z-index: -998;
    text-shadow: 2px 2px 2px black;
    font-size: 4vw;
    font-weight: 800;
}
.video img {position: relative; padding: 0.5rem;}
.video .fptk {position: relative; padding: 0.5rem; text-align: center;}
footer {
    padding: 2rem;
}