@import "./slideshow.scss";
@import "./pages.scss";
@import "./sponsors.scss";
@font-face {
    font-family: 'cr-bold';
    src: url('./FuturaBold.otf');
}
@font-face {
    font-family: 'cr-book';
    src: url('./FuturaBookRegular.otf');
}

.navbar {
	overflow: hidden;
	display: flex;
	flex-direction: row;
	align-items: center;
	width: 100%;
	font-size: 19px;
	font-weight: bold;
	background-color: rgba(0, 0, 0, 0.542);
	a {
		font-family: "Futura", sans-serif;
		margin: 15px;
		color: white;
		text-decoration: none;
	}
}
