@import url("https://fonts.googleapis.com/css?family=Raleway:900&display=swap");

.navbar {
	padding: 6px;
	display: flex;
	flex-direction: row;
	align-items: center;
	width: 100%;
	font-size: 19px;
	font-weight: bold;
	background-color: rgba(0, 0, 0, 0.542);
	a {
		font-family: "Raleway", sans-serif;
		margin: 15px;
		color: white;
		text-decoration: none;
		text-shadow: 0 0 3px #fff;
		&:hover {
			text-shadow: 0 0 4px rgba(255, 255, 255, 0.905);
		}
	}
}

.footer {
	align-items: center;
	background-color: gray;
}