.futura_bold {
    font-family: "";
}

.title {
    display: flex;
    align-items: center;
    justify-content: center;
}
.subheading {
    display: flex;
    align-items: center;
    justify-content: center;
}

.white_text {
    color: #4df4e4;
    background-color: black;
}
.cyan_text {
    color: #4df4e4;
}
.red_text {
    color: #ff0000;
}
.outreach_director {
    background-color: black;
    width: 25vw;
    height: 16vh;
    display: flex;
}

.outreach_director_pic {
    margin: 0;
    height: 15vh;
    width: auto;
    display: inline;
    border: #4df4e4 4px solid;
}

.outreach_director_caption {
    width: 10vw;
    display: inline-block;
    margin: 5px;
}

.outreach_images {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 1000px;
    width: 100%;
    border: 2px solid #4df4e4;
}

.surround_box {
    background-image: "/box_thing.png";
    width: 115px;
    height: 50px;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button {
    border: 2px solid #4df4e4;
}

.floating_box {
    width: 20vw;
    height: auto;
    background-color: grey;
    order: -9999;
}   