@keyframes slideIn {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(0%);
     }
}

@import "./slideshow.scss";
@mixin font($font-family, $font-file) {
    @font-face {
        font-family: $font-family;
        src: url($font-file+'.ttf') format('truetype');
        font-weight: normal;
        font-style: normal;
    }
}

a {
    text-decoration: none;
}

body {
    text-align: center;
    margin: 0px;
    color:white;
    animation: slideIn ease 500ms;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.slogan {
    border-right: solid 3px rgba(0,255,0,.5);
    white-space: nowrap;
    overflow: hidden;
    font-size: 2.5vw;
}

.center {
    display: flex;
    justify-content: center;
}

.slogan {
    font-weight: bold;
    margin-top: -30vw;
    position: absolute;
    animation:  animated-text 1s steps(100,end) 1s 1 normal both,
                animated-cursor 600ms steps(100,end) infinite;
}

@keyframes animated-text{
    from{width: 0}
    to{width: 39vw}
}

@keyframes animated-cursor{
    from{border-right-color: gray;}
    to{border-right-color: transparent;}
}

.cyan {
    display: inline-block;
    color: #4df4d4;
}

.red {
    display: inline-block;
    color: red;
}

.container {
    position: absolute;
    transform: translateY(-27vw);
	left: 31.4vw;
    overflow: hidden;
}

.hidden {
    font-size: 1vw;
    font-weight: bold;
    position: relative;
    animation: unhide 1s steps(100, end) 1500ms 1 normal both;
}

@keyframes unhide {
    from {
        opacity: 0;
        margin-top: -10%;
    }
    to {
        opacity: 100;
        margin-top: 0%; 
    }
}

.text {
    background-color: rgb(8, 8, 8);
    padding-top: 40px;
    padding-bottom: 3%;
    width: 100%;
    display: flex;
    justify-content: center;
}

.slides {
	width: 100%;
	height: 50vw;
	max-height: 1200px;
	left: 0px;
	overflow: hidden;
}

.homeText {
    text-align: left;
    max-width: 900px;
}

.columns {
    display: inline-block;
    width: 48%;
    padding-right: 1%;
    padding-left: 1%;
}

.columnTitle {
    padding-bottom: 1em;
    font-weight: bold;
    font-size: 24px;
    text-align: center;
    text-decoration: to-upper-case($string: "");
}

.slideshow {
    margin: auto;
    opacity: 0.5;
    overflow: hidden;
    z-index: -10;
}
