.teamCenter {
    justify-content: center;
}

.parallaxDecals {
    width: 50vw;
    height: 8em;
    width: 8em;
    opacity: .5;
    position: absolute;
	transition: 400ms;
	z-index: -3;
}

.parallaxWrapper {
	overflow-x: hidden;
	width: 100vw;
	align-items: center;
	z-index: -1;
}

.decalPos1 {
    transform: translateY(48vw) translateX(-25vw);
}
.decalPos2 {
    transform: translateY(50vw) translateX(-12vw);
    width: 50vw;
}
.decalPos3 {
    transform: translateY(44vw) translateX(16vw);
    width: 50vw;
}
.decalPos4 {
    transform: translateY(74vw) translateX(-6vw);
    width: 50vw;
}
.decalPos5 {
    transform: translateY(226vw) translateX(6vw);
    width: 50vw;
}
.decalPos6 {
    transform: translateY(-14vw);
    width: 50vw;
}
.decalPos7 {
    transform: translateY(120vw) translateX(-16vw);
}
.grid1x3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    width: 80%;
    margin: auto;
}

.teamBox {
	max-width: 600px;
	min-width: 40vw;
    font-size: calc(4px + 1vw);
    z-index: 0;
    padding-right: 0.3em;
    padding-left: 0.3em;
}

.teamContainer {
    padding-top: 5%;
    padding-bottom: 5%;
    display: flex;
    width: 100%;
    justify-content: center;
    text-align: left;
}

.teamTitle {
    font-weight: bolder;
    font-size: calc(10px + 1.4vw);
    transform: translateX(-5%);
    padding-bottom: 5%;
}

.slideshow {
    opacity: 1;
    width: 92%;
}
